.log li:before {
    content: "- ";
}

.log ul {
    list-style: none;

}



.log {
    width: 100%;
}

.log-type {
    font-size:12px;
    margin: 0;
    padding: 0;
}

.log-header {
    font-size: 27px;
    margin-bottom: 0;
    text-decoration: underline;
}