#match-holder {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.ryan {
    color: var(--ryan);

}

.alex {
    color: var(--alex);
}

.hunter {
    color: var(--hunter);

}

.sean {
    color: var(--sean);
}

.jj {
    color: var(--jj);
}

.roger {
    color: var(--roger);
}

@media screen and (max-width: 1200px) {
    #match-holder {
        display: flex;
        flex-direction: column;
        
        width: 95%;

    }

}