#navbar {
    list-style: none;
    
}

#navbar li {
    display: inline-block;
    margin: 0 0.5em;
}

#navbar li a {
    border: 0.1em solid white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    color: #479e5c;
    background: white;
}