#home-all {
    display: flex;
    width: 100%;
    justify-content: center;

}

#home-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20%;
}

#home-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
    z-index: 3;

}

#warning {
    font-weight: bold;
    color: red;
}