.project-card {
    display: flex;

    margin: 1em;

    width: 45%;

    border: 2px solid white;
    border-radius: 0 1.5em 1.5em 0;

}

.project-card :hover {
    cursor: pointer;
}

.project-card img {
    overflow: hidden;
    max-width: 50%;
    height: auto;
}

.pc-words h4 {
    font-size: 1.4vw;
    display: block;
    text-decoration: underline;
}

.pc-words h4:after {
    content: "";
    border-top: solid white 4px;
    width: 100%;
}

.project-card p {

}

.project-card h4, .project-card p, .project-card a {
    margin: 1em 1%; 
}


.pc-words {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 44%;
}