body {
	background: var(--dark-back);
    color: white;
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, "Trebuchet MS", sans-serif;
}

:root {
    --main-blue: #7b7bc0;
    --light-green: #8df185;
    --peach: #f1a685;
    --dark-back: #131313;
    --dark-link: #458fca;
    --dark-link-vis: #bd8adc;
    --ryan:#26ef4a;
    --alex:#ff82e9;
    --hunter:#fd9b32;
    --sean:#9946e1;
    --jj:#61f6ff;
    --roger:#e3ff0c;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

a {
    color: var(--dark-link);
}

a:visited {
    color: var(--dark-link-vis);
}

#root > #wap1-frame {
    width: 100%;
    margin: 0;
}