body {
	background: #131313;
    color: white;
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, "Trebuchet MS", sans-serif;
}

:root {
    --main-blue: #7b7bc0;
    --light-green: #8df185;
    --peach: #f1a685;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

a {
    color: #458fca;
}

a:visited {
    color: #bd8adc;
}