.class-card {
    background: #7b7bc0;
    border-radius: 0.6em;
    border: 1px solid white;
    width: 25%;
    margin: 3em 0;
    text-align: center;
    display: grid;
    grid-template: 'title title'
                    'grade grade'
                    'sem prof';

}

.class-card:hover {
    cursor: pointer;
}

    
.a-grade {
    color: #00ad1a;

}

.b-grade {
    color: #95d84e;
}

.c-grade {
    color: #f9d82b;
}

.na-grade {
    color: #606060;
}

.a-grade, .b-grade, .na-grade, .c-grade  {
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.3em;
}

.card-grade {
    grid-area: grade;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sem {
    grid-area: sem;
}

.card-prof {
    grid-area: prof;
}

.card-prof a {
    color: var(--light-green);
}

.card-prof a:visited {
    color: var(--peach);

}

.card-title {
    grid-area: title;
}

.card-desc {
    width: 80%;
    margin: 0 auto 1em auto;
}